@import 'variables';

body {
  font-family: $font-family-base;
  font-size: $font-size-base;

  #show-translation {
    margin: 0 auto;
    max-width: $screen-md;

    .label {
      float: left;
      width: calc(100% - 230px);
    }

    input {
      float: right;
      line-height: 24px;
      margin: 20px 0;
      padding: 0 5px;
      width: 200px;
    }
  }

  #map {
    path:hover {
      fill: $gray-light;
    }
  }
}
